/* .tag__table {
    margin: 0 20rem;
    width: 50%;


} */

.taglist__container {
    /* display: flex;
    justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    /* padding: 0 5rem; */
}