table.list__table{
    width: 100%;
    background-color: rgb(215, 255, 255);
    column-count: 3;
}

tr.list__row {
    /* width: 100%; */
    text-align: left; 
    padding: 0.25em;
    background-color: rgb(218, 200, 235);
    column-count: 3;
}

.list__cell {
    padding: .1rem .5rem;
    /* background-color: aliceblue; */
    border: 1px red dotted;
    column-count: 3;
}

th {
    font-size: large;
    background-color: rgb(43, 198, 226);
}

* { 
    box-sizing: border-box; 
}