
Table {
    /* width: 80%; */
    /* margin: 5rem; */
    border-radius: 3px;
    /* padding: 1rem; */
}

th {
    padding: .5rem 1.5rem;
    color: #AB79AF;
    font-size: small;
    font-weight: bolder;
}

tbody {
    border: #AB79AF 2px solid;
}

td {
    padding: .4rem 1.5rem;
    border-radius: 2px;
    /* background-color: rgba(176, 80, 152, 0.041); */
}