.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body__container {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  /* background-color: white; */
  border-radius: 10px;
  /* width:100%; */
}

.body__container__tag {
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  padding: 2rem;
  /* background-color: white; */
  border-radius: 10px;
}

.filter__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__container {
  width: 100%;
  background-color: white;
  padding: .6rem;
  border-radius: 10px;
}



